<div class="content-box" *ngIf="listing; else loading">
    <p>This listing has been viewed {{listing.views}} times.</p>
    <a routerLink="/listings">
        <button>Back</button>
    </a>
    <h2>{{listing.name}}</h2>
    <p>{{listing.description}}</p>
    <p>${{listing.price}}</p>
    <a routerLink="/contact/{{listing.id}}">
        <button>Contact Seller</button>
    </a>
</div>

<ng-template #loading>
    <div *ngIf="isLoading">Loading...</div>
    <div *ngIf="!isLoading">
        <a routerLink="/listings">
            <button>Back</button>
        </a>
        <p>Listing not found.</p>
    </div>
</ng-template>